*
{
background-color: wheat;
}
h1
{
text-align: center;
font-family: 'Times New Roman', Times, serif;
color: black;
}
p
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: wheat;
}
#id
{
    margin-left: 500px;
}
#id2
{
    border: 2px solid wheat;
    background-color: wheat;
}